<a href="https://colab.research.google.com/github/marardo/procesamiento_nube/blob/main/DATA_CHALLENGE_PSA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
pip install boto3

Requirement already satisfied: boto3 in /usr/local/lib/python3.7/dist-packages (1.18.19)
Requirement already satisfied: s3transfer<0.6.0,>=0.5.0 in /usr/local/lib/python3.7/dist-packages (from boto3) (0.5.0)
Requirement already satisfied: jmespath<1.0.0,>=0.7.1 in /usr/local/lib/python3.7/dist-packages (from boto3) (0.10.0)
Requirement already satisfied: botocore<1.22.0,>=1.21.19 in /usr/local/lib/python3.7/dist-packages (from boto3) (1.21.19)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /usr/local/lib/python3.7/dist-packages (from botocore<1.22.0,>=1.21.19->boto3) (2.8.1)
Requirement already satisfied: urllib3<1.27,>=1.25.4 in /usr/local/lib/python3.7/dist-packages (from botocore<1.22.0,>=1.21.19->boto3) (1.26.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.22.0,>=1.21.19->boto3) (1.15.0)

In [3]:
#LIBRERIAS
#Libreria para acceder a datos de S3 Amazon
import boto3
import pandas as pd
import io
import matplotlib.pyplot as plt
plt.rcParams.update({'font.size': 16})
import numpy as np
import calendar
import seaborn as sns

In [4]:
####### FUNCIONES #####################

def graficoUnivariado(total_rows,total_cols,df,columnGroup,ylabel,xlabel,rangex,rangey,typePlot,xlabels):
  
  fig, axs = plt.subplots(nrows=total_rows, ncols=total_cols,
  figsize=(6*total_cols, 4*total_rows), constrained_layout=True)
  
  for i,fila in dfYearMonth.iterrows():
    row = i//total_cols
    pos = i % total_cols
    dfFilter = df[(df['year']==fila['year']) & (df['month']==fila['month'])]
    dfGroup= dfFilter[columnGroup].groupby(by=dfFilter[columnGroup]).count()
    if typePlot == 'Linea':
      axs[row][pos].plot( dfGroup.index.values,dfGroup.values)
    else:
      axs[row][pos].bar( dfGroup.index.values,dfGroup.values)
    axs[row][pos].set_ylabel(ylabel)
    axs[row][pos].set_xlabel(xlabel)
    axs[row][pos].set_xticks(rangex)
    axs[row][pos].set_yticks(rangey)
    if xlabels != '':
      axs[row][pos].set_xticklabels(xlabels)
    axs[row][pos].title.set_text(str(fila['year']) + "/"  +str(fila['month']))




def graficoUnivariadoPromedio(df,columnGroup,ylabel,xlabel,typePlot,xindexlabels,xvalueslabels,xlimmin,xlimmax,title):
  sns.set_style("white")

  #Elimina los meses de Abril y Enero no estan completos
  indexNames = df[ (df['month'] ==1 ) | (df['month'] ==4 )].index
  df.drop(indexNames , inplace=True)
  df.head()
  
  #Se agrupa por mes y columna que llega a la funcion
  df= df.groupby(['month',columnGroup]).agg({'createdAt': ['count']})
  df.columns = ['Cantidad']

  df= df.groupby([columnGroup]).agg({'Cantidad': ['mean']})
  df.columns = ['Promedio']

  df= df.reset_index()


  plt.figure(figsize=(10.6,6))
  if typePlot == 'Linea':
    plt.plot( columnGroup, 'Promedio', data=df, marker='o', color='#d95f02')
  else:
    plt.bar( columnGroup, 'Promedio', data=df, color='#BEAED4')
  plt.xlim([xlimmin, xlimmax])
  if xindexlabels != '':
    plt.xticks(xindexlabels,xvalueslabels)
  plt.xlabel(xlabel,labelpad=15)

   
  plt.ylabel(ylabel)
  plt.title(title)
  plt.show()

In [6]:
#OBTENIENDO DATOS DE S# Amazon
ACCESS_KEY_ID = 'AKIASCUELGQN2DYBIEPG'
SECRET_ACCESS_KEY = '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'
BUCKET_NAME = 'bkptgmcd'
KEY = 'historicalConnection.csv' # file path in S3 
s3c = boto3.client(
        's3', 
        aws_access_key_id = ACCESS_KEY_ID,
        aws_secret_access_key = SECRET_ACCESS_KEY
    )
obj = s3c.get_object(Bucket= BUCKET_NAME , Key = KEY)
df = pd.read_csv(io.BytesIO(obj['Body'].read()), encoding='utf8',delimiter=";")

df.head(10)

   Id      status                         ip  ...         ip2  year    weekday
0   1  SUCCESS     172.20.168.4               ...  172.20.168  2018    TUESDAY
1   2  SUCCESS     172.20.184.171             ...  172.20.184  2018    TUESDAY
2   3  BADPASS     172.20.184.164             ...  172.20.184  2018    TUESDAY
3   4  SUCCESS     172.20.189.29              ...  172.20.189  2018    TUESDAY
4   5  BADPASS     172.20.184.89              ...  172.20.184  2018    TUESDAY
5   6  SUCCESS     192.168.0.100              ...   192.168.0  2015  WEDNESDAY
6   7  SUCCESS     192.168.0.100              ...   192.168.0  2015   THURSDAY
7   8  SUCCESS     192.168.0.100              ...   192.168.0  2016     FRIDAY
8   9  SUCCESS     172.20.168.102             ...  172.20.168  2016     FRIDAY
9  10  SUCCESS     172.20.175.212             ...  172.20.175  2016    TUESDAY

[10 rows x 16 columns]